.widgets,
.charts {
  display: flex;
  padding: 1rem 2rem 0 2rem;
  gap: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.listContainer {
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

.container {
  margin-top: 1rem;
}
