.datatable {
  padding: 1rem 20px;
  height: 90%;
}

.datatableheader {
  width: 100%;
  font-size: 24px;
  color: #001219;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.viewButton {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.viewIcon {
  color: #264653;
}

.deleteButton {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background: tranparent;
}

.deleteIcon {
  color: #e63946;
}

.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.modalBody {
  color: #343a40;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 820px;
  background-color: #eee;
  gap: 2rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.input {
  width: 15rem;
  margin: 10px 1rem;
}

.file {
  margin: 2rem 0;
}

.header {
  padding: 1rem 0;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.delete {
  padding: 10px 12px;
  background-color: #e63946;
  color: #eee;
  border: none;
  border-radius: 4px;
  margin: 20px 4px 0 4px;
  cursor: pointer;
}

.discard {
  padding: 10px 12px;
  background-color: #eee;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 20px 4px 0 4px;
  cursor: pointer;
}

.add {
  padding: 10px 12px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}
