.datatable {
  padding: 0 20px;
}

.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewButton {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.viewIcon {
  color: #264653;
}

.deleteButton {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background: tranparent;
}

.deleteIcon {
  color: #e63946;
}

.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
