.filter-container {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 20px;
}

.filter {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filter-text {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.select {
  padding: 10px;
  margin-right: 20px;
}
