.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffe8d6;
}

.wrapper {
  padding: 2rem;
  width: 24rem;
  height: 24rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f1faee;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input {
  flex: 1;
  width: 11rem;
}

.input_email {
  flex: 1;
  width: 100%;
  margin: 6px 0;
}

.pairs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
}

.pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button {
  width: 40%;
  border: none;
  margin: 10px 0;
  padding: 10px;
  margin-left: auto;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.signin {
  text-align: center;
  font-size: 14px;
  margin: 16px 0;
}

.closeBtn {
  border-radius: "50%";
}

.closeLink {
  top: 3%;
  right: 1%;
  font-weight: 600;
  position: absolute;
  text-decoration: none;
  color: black;
}

.signIn-link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.aggreement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  margin: 10px 0;
}

.privacy {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.button:disabled {
  color: green;
  cursor: not-allowed;
}

.close {
  font-weight: bold;
}
