.container {
  min-width: 10rem;
  height: 100%;
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1rem;
  padding: 0 1rem;
  height: 90vh;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.header {
  font-weight: 600;
  color: gray;
  padding-top: 1rem;
}

.li {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2px 0;
  gap: 4px;
  padding: 2px 4px;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  gap: 4px;
  padding: 2px 4px;
}

.link:hover {
  background-color: beige;
}
